<div class="container">
  <div class="row">
    <div class="col-6 mt-5">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName" class="form-control">
      
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName" class="form-control">

        <label for="last-name">Email: </label>
        <input id="last-name" type="email" formControlName="email" class="form-control">

        <label for="last-name">Password: </label>
        <input id="last-name" type="password" formControlName="password" class="form-control">

        <!-- <label for="last-name">Conform Password: </label>
        <input id="last-name" type="password" formControlName="Conform_Passwoed" class="form-control"> -->
      <br>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Submit</button>
      
      </form>
    </div>
    <div class="col-6">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
            </tr>
          </thead>
          <tbody *ngFor="let User of users">
            <tr>
              <th scope="row">{{User.firstName}}</th>
              <td>{{User.lastName}}</td>
              <td>{{User.email}}</td>
              <td>{{User.password}}</td>
              <td>
                <button  class="btn btn-danger"(click)="delete(User)"><i
                        class="fas fa-trash-alt"></i></button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
