<header class=" mb-5">
    <div class="navbar navbar-dark fixed-top  bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" routerLink="/products" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            

            <strong style="font-size: 30px;">Flipkart</strong><a   routerLink="/products"  class="login">HOME </a>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
                
            </div>
          
            <a  routerLink="login" class="login">login </a>
            <a  routerLink="pay" class="login">Google-pay</a>


        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>